<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Graph Traversal Visualizer</title>
<link rel="stylesheet" href="/static/css/graph/graphtraversal.css">
</head>
<body>

<div>
<button onclick="goHome()" id="home_button">
<img src="/static/images/pagerank.png" alt="Logo" class="center-logo">
</button>

<div class="top-buttons">
<button id="read-button" onclick="goRead()">Read</button>
</div>
</div>

<div class="header-container">
<h1 class="main-title">Graph Traversal Visualizer</h1>
</div>

<div id="controls">
  <select id="algorithm">
    <option value="" disabled selected hidden>Select Algorithm</option>
    <option value="bfs">BFS</option>
    <option value="dfs">DFS</option>
  </select>

  <button onclick="startTraversal()">Start</button>
  <button onclick="nextStep()">Next Step</button>
  <button onclick="resetGraph()">Reset</button>
</div>


<div class="canvas-container">
  <canvas id="graph-canvas" width="900" height="600"></canvas>
</div>

<div id="path-result">Traversal output will appear here</div>

<script src="/static/js/graph/graphtraversal.js"></script>
</body>
</html>
