body {
  background-color: #0d1117;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  text-align: center;
  padding: 10px 10px;
  z-index: 1;
  position: relative;
}

.center-logo {
  width: 60px;
  top: 10px;
  padding: 10px;
  right: 20px;
  z-index: 2;
}

.main-title {
  font-size: 2rem;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

#graph-controls {
  text-align: center;
  margin: 20px 0;
}

#graph_button{
  background: #00ffff;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

#graph_button:hover {
  background: #00dddd;
}

#graph-controls button:nth-child(3) {
  background: #ffcc00;
}

#graph-controls button:nth-child(4) {
  background: rgb(255, 63, 63);
}

#algorithm {
  height: 34px;
  width: 150px;
  border-radius: 10px;
  border: none;
  padding: 4px 8px;
  font-weight: bold;
  cursor: pointer;
}

.canvas-container {
  height: 600px;
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

canvas {
  background: #161b22;
  border-radius: 10px;
}

.graph-hint {
  text-align: center;
  color: #9be7ff;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.result-box {
  margin: 10px auto;
  width: 80%;
  color: #ff5050;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}

.top-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 2;
}

#read-button {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#home_button{
  background-color: transparent;
  border: none;
}

#read-button { background-color: #00bfff; }

#read-button:hover { background-color: #009acd; }